body{
    margin: 10;
    font-family: 'Open Sans', sans-serif;

    background: #2C2B3D;

    min-height: 100vh;


}

.page{
    width: 1280px;
    margin: 0 auto 0;
    padding-top: 75px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 75px;

    font-family: 'JetBrains Mono', monospace;
}

ul{
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

ul li a:hover{
    font-weight: bold;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, ul{
    font-family: 'JetBrains Mono', monospace;
}

h1{
    font-size: 35px;
    line-height: 56px;
    color: white;

    font-weight: normal;

    width: 600px;
}

span{
    color: #00BFA6;
    font-weight: bold;
}

section p{
    color: #919090;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    
    width: 604px;
    margin: 40px 0;
}

footer{
    color: white;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    font-size: 14px;
    line-height: 28px;

    text-align: center;

    margin-top: 80px;
}

.line {
    width: 568px;
    height: 0px;
  
    margin: 0 auto 27px;
  
    border: 1px solid #00BFA6;
}

#padlock{
    position: fixed;
    bottom: 10px;
    left: 10px;
}